__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.so
*.egg-info/
*.egg
*.eggs

.venv/
venv/
ENV/


.ipynb_checkpoints
**/.DS_Store
.DS_Store

Thumbs.db
Desktop.ini

.directory
.idea/
.vscode/

*.pdf
*.jpg
*.jpeg
*.png
*.doc
*.docx
*.ppt
*.pptx
*.pages
*.txt